

.main{ 
  margin: 10px;
  max-width: 100%;


}

.row{ 
  margin: 10px;
 

}
.legendRow{ 
  margin: 0;
}

.rowbox{ 
  
  margin-left: 0;
  margin-right: 0;

}


h1{ 
  border-bottom: 2px solid black;
  width: 100%;
  padding:  0%;
  margin:  0;
  text-align: center;
  
}
.box{ 
  border: 2px solid black;
  padding: 0;

}
.sudo{ 
  width: 6vw ;
}
.smaller{ 
width: 5vw;
}


.box-Legend{ 
  border: 2px solid black;
  margin-top: 3%;
  padding: 0%;
  max-width: 100%;
}
.legend{ 
  border: 1px solid black;
  padding: 0 ;
  width: 100px
}
.right{ 
  border-left: 0px solid black;
}
.padder{ 
  padding-top: 10%;
}
.Full{ 
padding: 0;
width: 100%;
border-bottom: 2px solid black;
}

.outline{
  border: 2px solid black;
}

